* {
  box-sizing: border-box;
  outline: none;
  -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
h1 {
  font-size: 28px;
  line-height: 26px;
  margin: 0 auto 25px;
}

.App {
  text-align: center;
}

.Content {
  margin: 50px auto;
  padding: 0 3%;
}
.Content.content-top {
  display: flex;
	justify-content: space-between;
  margin: 0 auto;
  padding: 10px 03%;
}